<%= render "profiles/profileheader" %>
<div class="w-container">
<br>
<h1>Listing profiles</h1>
<br>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Business name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.first_name %></td>
    <td><%= profile.last_name %></td>
    <td><%= profile.business_name %></td>
    <td><%= profile.latitude %></td>
    <td><%= profile.longitude %></td>
    <td><%= link_to 'Show', profile, :class=>"table-link-grey" %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile), :class=>"table-link-grey" %></td>
    <td><%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete, :class=>"table-link-grey" %></td>
  </tr>
<% end %>
</table>
</div>
<br />
