<%= render "patients/patientheader" %>

<div class="w-container">
<div class="row">
  <div class="col-md-6">
    <div class="table-border">

    <h3><%= @patient.first_name %> <%= @patient.last_name %></h3>
    <br>

<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @patient.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @patient.last_name %>
</p>

<p>
  <b>Street address:</b>
  <%= @patient.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @patient.city %>
</p>

<p>
  <b>State:</b>
  <%= @patient.state %>
</p>

<p>
  <b>Postocde:</b>
  <%= @patient.postocde %>
</p>

<p>
  <b>Country:</b>
  <%= @patient.country %>
</p>

<p>
  <b>Longitude:</b>
  <%= @patient.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @patient.latitude %>
</p>

<p>
  <b>Home phone:</b>
  <%= @patient.home_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @patient.mobile_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%= @patient.work_phone %>
</p>

<p>
  <b>Email:</b>
  <%= @patient.email %>
</p>

<br>
<br>
<%= link_to 'Edit', edit_patient_path(@patient), class: "table-link-grey" %> |
<%= link_to 'Back', patients_path, class: "table-link-grey"%>
</div>
</div>
</div>
</div>
